# Visual Studio
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
packages/
*.suo
*.user
NanoFramework-GitHubBot - Web Deploy.pubxml

# AzureDevOps tasks
ps_modules
7zip
*.vsix
*.zip

#SoundCloud
*.sonarqube/
